.App {
  font-family: sans-serif;
  text-align: center;
}

input.invalid {
  border-color: red;
}
div.error {
  color: red;
}

.footer {
  border-top: 1px solid silver;
  padding-top: 5px;
  margin-top: 20px;
  font-family: Helvetica;
  font-size: 10px;
  color: grey;
}
